html, body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  font-family: 'Geist', sans-serif;
  /* overflow-x: hidden; Disable horizontal scrolling */
  overflow: hidden; /* Disable horizontal and vertical scrolling */
}
body {
  margin: 0;
  padding: 0; 
  font-family: 'Oswald', sans-serif;
  background-color: var(--bg-main);
  color: var(--main-text-color);
}

/* Dark Theme for easy color modification*/
/* [data-theme="dark"] */ /* uncomment this code and replace the :root if needed later*/
 
:root {
  /* Base Colors */
  --primary-blue: #63B3ED;
  --success-green: #68D391;
  --medium-gray: #A0AEC0;
  --error-red: #FC8181;
  --pure-red: #FF0000; 
  --dark-red: #742A2A;

  /* Greyscale */
  --black: #000000;
  --dark-grey: #333333;
  --grey: #777777;
  --light-grey: #CCCCCC;
  --off-white: #FAF9F6;
  --white: #FFFFFF;
  --transparent: transparent;

  /* Accent Colors */

  /* change these */
  --accent-one: var(--accent-pink);
  --accent-two: var(--accent-purple);
  --accent-three: var(--accent-dark-pink);

  /* dont change these */
  --accent-pink: #e91e63;
  --accent-dark-pink: #c4185b;
  --accent-purple: #9c27b0;
  --accent-dark-blue: #272ab0;
  --accent-blue: #276bb0;
  --accent-light-blue: #57acdc;
  --accent-blue-green: #57dcbe;
  --accent-green: #60C689;


  /* Logo */
  --logo-color: var(--light-grey);


  /* Navbar */
  --navbar-bg: var(--black);
  --navbar-text: var(--light-grey);
  --navbar-active: ;
  --navbar-hover: var(--accent-one);
  --navbar-border: ;

  /* Footer */
  --footer-bg: ;
  --footer-text: ;
  --footer-links: ;
  --footer-links-hover: ;
  --footer-secondary-text: ;

  /* Buttons */
  --btn-primary-bg: ;
  --btn-primary-text: ;
  --btn-primary-hover: ;
  --btn-primary-border: ;


  --btn-secondary-bg: transparent;
  --btn-secondary-text: ;
  --btn-secondary-border: ;
  --btn-secondary-hover-bg: ;
  --btn-secondary-hover-text: ;

  --btn-success-bg: ;
  --btn-success-text: ;
  --btn-success-hover: ;

  /* Background */
  --bg-main: var(--black);
  --bg-section: ;
  --bg-alternate: ;

  /* Page Text */
  --main-text-color: ;
  --section-text-color: ;
  --alternate-text-color: ;


  /* Input Forms */
  --input-bg: ;
  --input-border: ;
  --input-text: #;
  --input-placeholder: ;
  --input-focus-border: ;
  --input-focus-shadow: ;

  --label-text: ;
  --label-required: ;

  --input-error-border: ;
  --input-error-text: ;
  --input-error-bg: ;

  --input-success-border: ;
  --input-success-text: ;

  /* Hover */
  --hover-shadow: ;
} 